appdirs==1.4.3
Flask==0.10.1
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
packaging==16.8
praw==4.4.0
prawcore==0.8.0
PyMySQL==0.7.11
pyparsing==2.2.0
requests==2.13.0
six==1.10.0
update-checker==0.16
Werkzeug==0.12.1
